# OS X
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Log
*.log
npm-debug.log*

# Node.js
node_modules/
bower_components/

# IDE
.idea/
.vscode/
.tags
.tags1

# Generate
*.map
app/css

# Release
app/build/
config.prod.*
www
