<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <a class="link <% if (active === 'order') { %>active<% } %>" href="#patient" data-animate-pages="false">
      <i class="icon demo-icon-1"></i>
      <span class="tabbar-label">订单管理</span>
    </a>
    <a class="link <% if (active === 'menu') { %>active<% } %>" href="#education" data-animate-pages="false">
      <i class="icon demo-icon-2"></i>
      <span class="tabbar-label">菜单管理</span>
    </a>
    <a class="link <% if (active === 'setting') { %>active<% } %>" href="#account" data-animate-pages="false">
      <i class="icon demo-icon-3"></i>
      <span class="tabbar-label">设置</span>
    </a>
  </div>
</div>