.page-setting{

	.qrcode-area{
		float: left;
		width: 50%;

	}

	.btn-wrapper{
//		display: block;
//		width: 50px;
		margin-right: 10px
	}

	.btn-style{
		display: block;
		width: 100px;
		margin-right: 50px;
	}

	.intro-area{
		float: left;
		width: 50%;
		
	}

	table{
		width: 100%;
	}

	.manager-list{
		clear: left;
		text-align: center;
	}

	.btn-unbind{
		width: 50px;
	}

	.btn-remark{
		width: 50px;
	}

	.btn-remark-cancel{
		width: 50px;
	}

	.btn-remark-confirm{
		width: 50px;
	}

	.btns-op{
		text-align: right;
	}

	.ipt-remark{
		width: 10px;
		text-align: center;
	}
}